body,
html {
  height: 100%;
}

.body {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  color: #F4F4F4;
  background-color: #E5E5E5;
  font-size: 20px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}
.body--active {
  overflow: hidden;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.title {
  position: relative;
  text-align: center;
  font-family: "Lora";
  font-size: 60px;
  font-weight: 400;
  padding: 70px;
}
.title span {
  position: absolute;
  font-family: "Poiret One";
  font-size: 150px;
  line-height: 1.2;
  color: rgba(244, 244, 244, 0.03);
  left: 40%;
  top: 18px;
}
.title--product {
  color: #000;
}
.title--product span {
  color: rgba(20, 20, 20, 0.03);
}

.subtitle {
  position: relative;
  font-size: 90px;
  line-height: 1;
  color: rgba(212, 212, 212, 0.5);
  font-weight: 400;
  padding-bottom: 20px;
  letter-spacing: 0.05em;
}
.subtitle::before {
  content: "";
  position: absolute;
  width: 750px;
  height: 2px;
  background-color: rgba(212, 212, 212, 0.2);
  bottom: 0;
  left: -265px;
}
.subtitle--about::before {
  top: 0;
}

.header {
  color: #141414;
  background-color: #F4F4F4;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  background-image: url("../images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  width: 935px;
  height: 892px;
  right: 0;
  z-index: 1;
}
.header__btn {
  display: none;
}
.header__wrapper {
  position: relative;
  margin-left: auto;
  height: 886px;
  display: flex;
  z-index: 2;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
  width: 670px;
}
.header__title {
  font-family: "Lora";
  font-size: 70px;
  line-height: 1.1;
  margin-bottom: 40px;
  display: block;
  display: -webkit-box;
  font-size: rem(70);
  max-height: rem(231);
  line-height: 1.1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.header__subtitle {
  font-size: 34px;
  line-height: 1.1;
  margin-bottom: 40px;
  color: #141414;
  display: block;
  display: -webkit-box;
  font-size: rem(34);
  max-height: rem(149.6);
  line-height: 1.1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.header__text {
  margin-bottom: 90px;
  display: block;
  display: -webkit-box;
  font-size: rem(20);
  max-height: rem(96);
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.logo__img--mobile {
  display: none;
}

.social {
  position: relative;
  display: flex;
  z-index: 201;
}
.social__item:not(:last-child) {
  margin-right: 48px;
}
.social__link {
  width: 45px;
  height: 45px;
  display: flex;
  background-color: #183E27;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.4s;
}
.social__link:hover {
  background-color: #fff;
  border: 1px solid #183E27;
}
.social__link:active {
  border-color: #EBBE1E;
}
.social__link,
.social__link path {
  transition: all 0.5s;
  fill: #fff;
}
.social__link:hover,
.social__link path:hover {
  fill: #183E27;
}
.social__link:active,
.social__link path:active {
  fill: #EBBE1E;
}

.nav {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #141414;
}
.nav__list {
  display: flex;
}
.nav__item {
  line-height: 1;
}
.nav__item:not(:last-child) {
  margin-right: 115px;
}
.nav__link {
  transition: all 0.3s;
}
.nav__link:hover {
  font-weight: 700;
}
.nav__link--mobile {
  display: none;
}

.btn {
  display: inline;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1;
  margin-right: auto;
  position: relative;
  padding-left: 60px;
  margin-bottom: 80px;
  transition: all 0.4s;
  height: 26px;
}
.btn::after, .btn::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  transition: all 0.4s;
}
.btn::before {
  background-image: url("../images/icons/ellipse-btn.svg");
  width: 120px;
  height: 120px;
  left: 0;
  top: -45px;
}
.btn::after {
  background-image: url("../images/icons/arrow-btn.svg");
  width: 32px;
  height: 16px;
  left: 18px;
  top: 5px;
}
.btn:hover {
  font-weight: 700;
}
.btn:active {
  font-size: 0;
}
.btn:active::before {
  background-image: url("../images/icons/circle.svg");
}
.btn:active::after {
  left: 45px;
}

.about {
  padding: 30px 0 70px;
  background-color: #183E27;
}
.about__content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.about__img {
  margin-right: 118px;
}
.about__text:not(:last-child) {
  margin-bottom: 20px;
}

.product {
  padding: 30px 0 70px;
  position: relative;
  background-color: #f4f4f4;
  color: #141414;
}
.product::before, .product::after {
  content: "";
  position: absolute;
  background-color: rgba(212, 212, 212, 0.5);
  z-index: 1;
}
.product::before {
  width: 1px;
  height: 700px;
  left: 70px;
  bottom: 0;
}
.product::after {
  width: 700px;
  height: 1px;
  left: 0;
  bottom: 70px;
}
.product__content {
  display: flex;
  align-items: center;
}
.product__text-box {
  margin-right: 100px;
}
.product__text {
  margin-bottom: 25px;
}
.product__list-box {
  display: flex;
}
.product__list:not(:last-child) {
  margin-right: 50px;
}
.product__item {
  position: relative;
  padding-left: 15px;
}
.product__item::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #141414;
  left: 0;
  top: 17px;
}

.contact {
  padding: 30px 0 170px;
  background-color: #183E27;
}
.contact__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__label {
  font-size: 22px;
  min-width: 450px;
  margin-bottom: 80px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F4F4F4;
}
.contact__input {
  margin-left: 40px;
  padding: 5px 10px 5px 5px;
  font-weight: 400;
  font-size: 22px;
  background-color: #183E27;
  border: none;
  border-radius: 6px;
  color: rgba(244, 244, 244, 0.25);
  transition: all 0.4s;
}
.contact__input:hover {
  background-color: #fff;
  color: #EBBE1E;
}
.contact__input:hover::-moz-placeholder {
  color: #183E27;
}
.contact__input:hover:-ms-input-placeholder {
  color: #183E27;
}
.contact__input:hover::placeholder {
  color: #183E27;
}
.contact__input:focus {
  background-color: #fff;
  color: #EBBE1E;
}
.contact__input:focus::-moz-placeholder {
  color: #183E27;
}
.contact__input:focus:-ms-input-placeholder {
  color: #183E27;
}
.contact__input:focus::placeholder {
  color: #183E27;
}
.contact .btn {
  color: #F4F4F4;
}
.contact .btn::after {
  background-image: url("../images/icons/arrow-btn-lite.svg");
}
.contact__info {
  max-width: 450px;
}
.contact__text {
  font-size: 28px;
  margin-bottom: 30px;
}
.contact__span {
  display: block;
  font-size: 20px;
  margin-bottom: 40px;
}
.contact__address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.contact__tel, .contact__email {
  position: relative;
  padding-left: 50px;
  transition: all 0.4s;
}
.contact__tel::before, .contact__email::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  left: 0;
  transition: all 0.4s;
}
.contact__tel:hover, .contact__email:hover {
  font-weight: 700;
}
.contact__tel:active::before, .contact__email:active::before {
  left: 10px;
}
.contact__tel {
  font-size: 20px;
  margin-bottom: 25px;
}
.contact__tel::before {
  background-image: url("../images/icons/phone.svg");
  width: 25px;
  height: 25px;
  top: 3px;
}
.contact__email::before {
  background-image: url("../images/icons/email.svg");
  width: 28px;
  height: 20px;
  top: 6px;
}

.footer {
  color: #141414;
  background-color: #F4F4F4;
}
.footer__wrapper {
  padding: 60px 0;
}

.copyright {
  padding: 16px 0;
  font-size: 12px;
  background-color: #DFDEDA;
}
.copyright__link {
  display: block;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (max-width: 1350px) {
  .title--product span {
    left: 20%;
  }
}
@media screen and (max-width: 1200px) {
  .about__img {
    margin-right: 60px;
  }
  .product__text-box {
    margin-right: 10px;
  }
  .product__img {
    width: 550px;
    height: 600px;
  }
}
@media screen and (max-width: 992px) {
  .title {
    padding: 50px;
  }
  .title span {
    font-size: 120px;
    left: 30%;
  }
  .title--product span {
    left: 10%;
  }
  .logo {
    order: 1;
    z-index: 300;
  }
  .social {
    order: 2;
    margin-left: auto;
    margin-right: 20px;
  }
  .social__item:not(:last-child) {
    margin-right: 18px;
  }
  .header {
    color: #fff;
  }
  .header::before {
    width: 100%;
    height: 715px;
  }
  .header__wrapper {
    height: 715px;
  }
  .header__subtitle {
    color: #fff;
  }
  .header__btn {
    order: 3;
    display: block;
    position: relative;
    z-index: 300;
    width: 30px;
    height: 22px;
    transition: transform 0.3s ease 0s;
  }
  .header__btn:before, .header__btn:after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__btn:before {
    top: 0;
  }
  .header__btn:after {
    bottom: 0;
  }
  .header__btn--active:before {
    transform: rotate(45deg);
    top: 10px;
  }
  .header__btn--active:after {
    transform: rotate(-45deg);
    bottom: 10px;
  }
  .header__btn--active:after, .header__btn--active:before {
    background-color: #000;
  }
  .header__btn--active .header__line {
    transform: scale(0);
  }
  .header__line {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    left: 0;
    top: 10px;
    transition: transform 0.3s ease 0s;
  }
  .header .nav__list {
    position: absolute;
    transform: translateY(-300%);
    transition: transform 0.7s;
    overflow: auto;
    z-index: 200;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: 0;
    bottom: 0;
    text-align: center;
    justify-content: center;
  }
  .header .nav__list--active {
    transform: translateY(0%);
    position: fixed;
  }
  .header .nav__item {
    font-weight: 700;
    font-size: 25px;
  }
  .header .nav__item:not(:last-child) {
    margin-right: 0;
  }
  .header .nav__link {
    display: none;
  }
  .header .nav__link--mobile {
    display: block;
    padding: 15px 0;
  }
  .about__img {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .about__content {
    flex-direction: column;
  }
  .product::before, .product::after {
    display: none;
  }
  .product__text-box {
    margin-right: 0;
    order: 2;
  }
  .product__img {
    order: 1;
    margin-bottom: 40px;
  }
  .product__content {
    flex-direction: column;
  }
  .contact__content {
    flex-direction: column;
  }
  .about,
.contact,
.product {
    padding: 30px 0 40px;
  }
  .footer__wrapper {
    padding: 30px 0;
  }
  .footer .nav__list {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 50px;
    padding: 20px;
  }
  .title span {
    display: none;
  }
  .subtitle {
    font-size: 70px;
  }
  .header {
    color: #000;
  }
  .header__subtitle {
    color: #000;
  }
  .header::before {
    display: none;
  }
  .header__wrapper {
    height: 615px;
  }
  .header__title, .header__subtitle {
    margin-bottom: 25px;
  }
  .header__title {
    font-size: 56px;
  }
  .header__subtitle {
    font-size: 30px;
  }
  .header__text {
    margin-bottom: 50px;
  }
  .about__img {
    width: 450px;
    height: 400px;
  }
  .product__img {
    width: 470px;
    height: 500px;
    margin-bottom: 30px;
  }
  .contact__label {
    margin-bottom: 60px;
    padding-bottom: 10px;
  }
  .contact__text, .contact__span, .contact__tel {
    margin-bottom: 20px;
  }
  .about,
.contact,
.product {
    padding: 25px 0;
  }
  .btn {
    margin-bottom: 45px;
    font-size: 24px;
    height: 12px;
  }
  .btn::after {
    top: 3px;
  }
  .btn::before {
    top: -36px;
    width: 94px;
    height: 94px;
    background-image: url("../images/icons/ellipse-btn-midle.svg");
  }
  .btn:active {
    font-size: 0;
  }
  .btn:active::before {
    background-image: url("../images/icons/circle-midle.svg");
  }
  .btn:active::after {
    left: 35px;
  }
  .footer__wrapper {
    padding: 10px 0;
  }
}
@media screen and (max-width: 576px) {
  .title {
    font-size: 35px;
    padding: 15px;
  }
  .subtitle {
    font-size: 50px;
    padding-top: 10px;
  }
  .subtitle::before {
    width: 100%;
    left: 0;
  }
  .header__wrapper {
    height: auto;
  }
  .header__title, .header__subtitle {
    margin-bottom: 18px;
  }
  .header__title {
    font-size: 34px;
  }
  .header__subtitle {
    font-size: 25px;
  }
  .header__text {
    margin-bottom: 60px;
  }
  .logo__img {
    display: none;
  }
  .logo__img--mobile {
    display: block;
  }
  .about__content {
    margin-bottom: 15px;
  }
  .about__img {
    width: 380px;
    height: 320px;
    margin-bottom: 15px;
  }
  .about__text:not(:last-child) {
    margin-bottom: 15px;
  }
  .product__img {
    width: 400px;
    height: 420px;
    margin-bottom: 15px;
  }
  .product__text {
    margin-bottom: 10px;
  }
  .product__list-box {
    flex-direction: column;
  }
  .product__list:not(:last-child) {
    margin-right: 0;
  }
  .contact__label {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .contact__text, .contact__span, .contact__tel {
    margin-bottom: 10px;
  }
  .contact__input {
    margin-left: 20px;
  }
  .about,
.contact,
.product {
    padding: 15px 0;
  }
  .footer__wrapper {
    padding: 0;
  }
}
@media screen and (max-width: 375px) {
  .title {
    padding: 20px;
  }
  .title span {
    font-size: 80px;
    left: 20%;
    top: 8px;
  }
  .title--product span {
    left: -28%;
  }
  .header__title, .header__subtitle {
    margin-bottom: 10px;
  }
  .header__title {
    font-size: 30px;
  }
  .header__subtitle {
    font-size: 22px;
  }
  .header__text {
    margin-bottom: 50px;
  }
  .about__img {
    width: 350px;
    height: 300px;
    margin-bottom: 15px;
  }
  .about__text:not(:last-child) {
    margin-bottom: 10px;
  }
  .about__img {
    width: 300px;
    height: 350px;
  }
  .about__text {
    margin-bottom: 5px;
  }
  .contact__input {
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */